@mixin animation($var) {
	-webkit-animation: $var;
	-moz-animation: $var;
	animation: $var;
}

@mixin reset {
	margin: 0 auto !important;
	padding: 0 !important;
}

@mixin box-reset {
	box-shadow: 0 0 0 0 !important;
}

@mixin border-radius($var) {	
	-webkit-border-radius: $var !important;
	-moz-border-radius: $var !important;
	-ms-border-radius: $var !important;
	border-radius: $var !important;
}

@mixin box-shadow($var) {	
	-webkit-box-shadow: $var !important;
	-moz-box-shadow: $var !important;
	-ms-box-shadow: $var !important;
	border-radius: $var !important;
}

@mixin placeholderColor($val) {
	::-webkit-input-placeholder {color: $val;}
	::-moz-placeholder {color: $val;}
	::-ms-input-placeholder {color: $val;}
	::-moz-placeholder {color: $val;}
}

@mixin placeholderPadding($val) {
	::-webkit-input-placeholder {padding-left: $val}
	::-moz-placeholder {padding-left: $val}
	::-ms-input-placeholder {padding-left: $val}
	::-moz-placeholder {padding-left: $val}
}

@mixin muscle-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin rotation($var) {
	-ms-transform: rotate($var);
	-webkit-transform: rotate($var);
	transform: rotate($var);
}

@mixin transition($var) {
	-webkit-transition: $var;
	-moz-transition: $var;
	-o-transition: $var;
	-ms-transition: $var;
	transition: $var;
}

@mixin gradients($direction, $first_color, $second_color) {
	@if $direction == 'right' {
		background: $first_color; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(left, $first_color, $second_color); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(right, $first_color, $second_color); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(right, $first_color, $second_color); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to right, $first_color, $second_color); /* Standard syntax */	
	} @else if $direction == 'top-right' {
		background: $first_color; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(45deg, $first_color, $second_color); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(45deg, $first_color, $second_color); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(45deg, $first_color, $second_color); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(45deg, $first_color, $second_color); /* Standard syntax */	
	} @else if $direction == 'top' {
		background: $first_color; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient($first_color, $second_color); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient($first_color, $second_color); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient($first_color, $second_color); /* For Firefox 3.6 to 15 */
	    background: linear-gradient($first_color, $second_color); /* Standard syntax */	
	} @else {
		background: $first_color; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(right, $first_color, $second_color); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(left, $first_color, $second_color); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(left, $first_color, $second_color); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to left, $first_color, $second_color); /* Standard syntax */	
	}

}
@mixin user-select($var) {
	user-select: $var;
	-moz-user-select: $var;
	-webkit-user-select: $var;
	-ms-user-select: $var;
}