/*
 * Type faces & weights
 */

$base-sans-serif: "Proxima Nova", "proxima-nova", Proxima Nova, proxima-nova, sans-serif;
//$base-sans-serif: "Gotha", Helvetica, Arial, sans-serif;
$regular: 400;
$normal: 400;
$semi-bold: 500;
$bold: 500;

$paragraph-size: 18px;
$paragraph-leading: 24px;

$h3-size: 21px;
$h3-leading: 26px;

$small-size: 14px;
$small-leading: 19px;
